body {
  height: 100vh;
  overflow: hidden;
  background-image: url(./Assets/Img/cloud1.jpg);
  background-size: cover;
  background-position: center;
}
.CityInput input {
  background-color: rgba(255, 255, 255, 0.5) !important;
  border: 2px solid rgba(255, 255, 255, 0.125);
}

.CityInput .btn {
  background-color: rgba(2, 58, 169, 0.89) !important;
  border: 2px solid rgba(255, 255, 255, 0.125);
  border-radius: 4em;
}

.Wcard {
  backdrop-filter: blur(12px) saturate(150%);
  -webkit-backdrop-filter: blur(12px) saturate(98%);
  background-color: rgba(17, 25, 40, 0.3);
  border-radius: 12px;
  border: 2px solid rgba(255, 255, 255, 0.125);
}

.Wcard .Loadgif {
  background-color: rgba(240, 248, 255, 0.651);
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Wcard .Hidegif {
  position: absolute;
  visibility: hidden;
}

.Wcard .Loadgif img {
  width: 5em;
  height: 5em;
}
